body{
  background-color: rgba(36, 37, 42, 1);
  background: url("/resources/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@media (orientation: landscape) {
  body {
    background-size: 100% 100%;
  }
}

@media (orientation: portrait) {
  body {
    background-size: auto;
    background-repeat: repeat-y;
  }
}

#navbarnav {
  height: 50px;
  background: #b7d84b;
  position:fixed;
  z-index:10;
  width:900px;
  top:0;
}

.fab {
  padding: 5px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  color: white;
}

.fab:hover {
  opacity: 0.7;
  color: white;
}

.nav-link:hover {
  background-color: #686b7a;
}

a:active {
  background-color: #686b7a;
  color: #686b7a;
}

.container>.row>.text-left {
  text-align: center;
}

ul {
  text-align: left;
  display: inline-block;
}

.card
{
    margin-bottom: 15px;
}
